@define-color background #24273a;
@define-color text #cad3f5;
@define-color border #b7bdf8;
@define-color border2 #8aadf4;

* {
    font-family: 'Iosevka Nerd Font mono';
    font-size: 14px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
    background-color: @background;
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: @background;
 }


 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @background;
    border-radius: 5px;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 10px 25px 10px 25px;
    padding: 10px;
    color: @accent;
    background-color: @background;
    border: 2px solid @border;
    border-radius: 5px;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @text;
 }

/* Selected Entry */
#entry:selected {
   background-color: @background;
   border: 1px solid @border2;
   border-radius: 5px;
}

 #entry:selected #text {
    color: @text;
 }
 image {
   margin-left: 10px;
 }
